/.phpunit.cache
/node_modules
/public/build
/public/fonts
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.claude
/.fleet
/.idea
/.nova
/.vagrant
/.vscode
.env
.env.backup
.env.production
.mcp.json
.phpstorm.meta.php
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
herd.yml
_ide_helper*.php
CLAUDE.md
boost.json
