@import 'tailwindcss';

@import '../../vendor/livewire/flux/dist/flux.css';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: InterVariable, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

/* Re-assign Flux's gray of choice... */
@theme {
    --color-zinc-50: var(--color-gray-50);
    --color-zinc-100: var(--color-gray-100);
    --color-zinc-200: var(--color-gray-200);
    --color-zinc-300: var(--color-gray-300);
    --color-zinc-400: var(--color-gray-400);
    --color-zinc-500: var(--color-gray-500);
    --color-zinc-600: var(--color-gray-600);
    --color-zinc-700: var(--color-gray-700);
    --color-zinc-800: var(--color-gray-800);
    --color-zinc-900: var(--color-gray-900);
    --color-zinc-950: var(--color-gray-950);
}

@theme {
    --color-accent: var(--color-cyan-600);
    --color-accent-content: var(--color-cyan-600);
    --color-accent-foreground: var(--color-white);
}
@layer theme {
    .dark {
        --color-accent: var(--color-cyan-600);
        --color-accent-content: var(--color-cyan-400);
        --color-accent-foreground: var(--color-white);
    }
}

@custom-variant dark (&:where(.dark, .dark *));

/* Override navbar items colors */
[data-flux-navbar-items] {
    @apply text-white hover:bg-cyan-500;
}

[data-flux-navbar-items][data-current] {
    @apply text-white bg-cyan-700;
}

/* Override profile colors */
[data-flux-profile] * {
    @apply text-white;
}

[data-flux-profile] > div:first-child * {
    @apply text-gray-500;
}

/* Override pagination padding */
[data-flux-pagination] {
    @apply px-6 py-4;
}

/* Add asterisk to required fields */
ui-label:has(+ div > input[required]),
ui-label:has(+ ui-description + div > input[required]),
ui-label:has(+ select[required]),
ui-label:has(+ ui-description + select[required]),
ui-label:has(+ ui-select[required]),
ui-label:has(+ ui-description + ui-select[required]),
ui-label:has(+ textarea[required]),
ui-label:has(+ ui-description + textarea[required]),
ui-label:has(+ [data-flux-input-group] input[required]),
ui-label:has(+ [data-flux-radio-group-cards][required]),
ui-label:has(+ div input[required]),
ui-label:has(+ div [data-flux-input][required]) {
    @apply after:ml-0.5 after:text-red-500 after:content-['*'];
}
