
html {
  background-color: #eaeaea;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c7c7c7' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

[v-cloak] {
  display: none;
}

table.is-aligned-center tbody td {
  vertical-align: middle !important;
}

// Fix pagination from buefy
.pagination {
  .pagination-next,
  .pagination-previous {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
}

.table tr.no-hover:hover {
  background-color: inherit;
}

.table tr.suspended {
  background-color: #f4c6cb;
}

.modal-card-foot-center {
  justify-content: space-around;
}

.modal-card-foot-right {
  justify-content: flex-end;
}

.level-filter {
  color: #205081;
  cursor: pointer;
}

.level-active {
  color: #363636;
  font-weight: 700;
}

.section-title {
  color: #656565;
  border-bottom: dashed 1px #656565;
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-size: 1.1rem;
}
